<header class="container">
  <h1>AIAlchemy Arena</h1>
  <!--<div class="btn-group" role="group" aria-label="Basic example">
    <button type="button" class="btn btn-secondary">
      <p>Models</p>
      <mat-icon>layers</mat-icon>
    </button>
    <button type="button" class="btn btn-secondary">
      <p>Datasets</p>
      <mat-icon>storage</mat-icon>
    </button>
    <button type="button" class="btn btn-secondary">
      <p>Posts</p>
      <mat-icon>message</mat-icon>
    </button>
  </div>-->
  <div>
    <a routerLink="login"><button class="btn btn-primary leftBtn">Login</button></a>
    <a routerLink="signUp"><button class="btn btn-primary rightBtn">Signup</button></a>
  </div>
</header>
