<!-- <!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>-->
<div id="main" class="container">
  <app-header></app-header>
  <section id="mainTitle" class="col-12">
    <div class="col-12">
      <h2>Welcome to AI Alchemy Arena</h2>
      <h4>Where AI enthusiasts connect, share, and innovate! Join the conversation, forge digital alchemy, and shape the future of AI together!</h4>
    </div>
  </section>
  <app-section-separator [desc]="trending" id="trending"></app-section-separator>
  <app-display-section></app-display-section>
  <app-section-separator iconType="four" id="models" [desc]="models"></app-section-separator>
  <app-item-list class="col-12"></app-item-list>
  <app-footer></app-footer>
  <div id="light"></div>
</div>

<!--</html> -->
