<main class="d-flex">
  <app-sidebar>
  </app-sidebar>
  <div class="profile">
    <h1>Edit your Experience</h1>
<form [formGroup]="experienceForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="firstName">Job Title</label>
    <input id="firstName" formControlName="title" type="text" class="form-control">
  </div>
  <div class="form-group">
    <label for="surname">Company</label>
    <input id="surname" formControlName="description" type="text" class="form-control">
  </div>
  <div class="form-group">
    <label for="dob">Date</label>
    <input id="dob" formControlName="date" type="date" class="form-control">
  </div>
  <div class="py-5">
    <button type="button" (click)="back()" class="btn btn-danger mx-1">Cancel</button>
    <button type="submit" class="btn btn-primary ml-2">Save changes</button>
  </div>
</form>


  </div>
  <div class="right-sidebar">
    <div class="stats">
      <div>
        <h4>19</h4>
        <p>Your profile views</p>
      </div>
      <div>
        <h4>89</h4>
        <p>Post views</p>
      </div>
      <button>Try Premium Free for 1 Month</button>
    </div>
    <div class="people-viewed">
      <h3>People also viewed</h3>
      <ul>
        <div *ngFor="let users of profiles | async">
        <li>{{users.Username}}</li>
      </div>

      </ul>
    </div>
    <div class="learning">
      <h3>Learning</h3>
      <p>Add new skills with these courses, free for 24 hours</p>

    </div>
    </div>
</main>

<!-- Include Bootstrap JS -->
