.post {
  border: 1px solid #ddd;
  padding: 15px;
  max-width: 600px;
  margin: auto;
  background: white;
  border-radius: 10px;
  height: auto;
  color: black;
}
.user-info {
  display: flex;
  align-items: center;
}
.profile-pic {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-right: 10px;
}
.user-details h3 {
  margin: 0;
}
.user-details p {
  margin: 0;
  color: gray;
}
.post-content {
  margin-top: 10px;
}
.post-tags a {
  color: #0095f6;
  margin-right: 5px;
}
.post-image {
  margin-top: 10px;
}
.post-image img {
  width: 100%;
  height: auto;
}
.post-image p {
  bottom: 10px;
  left: 10px;
  color: white;
  font-size: 20px;
  background: rgba(0, 0, 0, 0.5);
  padding: 5px;
}
