<div class="items container col-12 d-flex flex-row justify-content-between">
  <app-display-item class="col-2" [name] ="First.name" iconType="{{First.icon}}" [src]="First.src" [desc]="First.description"></app-display-item>
  <app-display-item class="col-2" [name] ="Second.name" iconType="{{Second.icon}}" [src]="Second.src" [desc]="Second.description"></app-display-item>
  <app-display-item class="col-2" [name] ="Third.name" iconType="{{Third.icon}}" [src]="Third.src" [desc]="Third.description"></app-display-item>
  <app-display-item class="col-2" [name] ="Fourth.name" iconType="{{Fourth.icon}}" [src]="Fourth.src" [desc]="Fourth.description"></app-display-item>
</div>
