<main class="d-flex">
  <app-sidebar>
  </app-sidebar>
  <div class="profile">
    <h1>Welcome to the Settings Page</h1>
<form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="firstName">First Name</label>
    <input id="firstName" formControlName="firstName" type="text" class="form-control">
  </div>
  <div class="form-group">
    <label for="surname">Surname</label>
    <input id="surname" formControlName="surname" type="text" class="form-control">
  </div>
  <div class="form-group">
    <label for="dob">Date of Birth</label>
    <input id="dob" formControlName="dob" type="date" class="form-control">
  </div>
  <div class="form-group">
    <label for="phonenumber">Phone Number</label>
    <input id="phonenumber" formControlName="phonenumber" type="text" class="form-control">
  </div>
  <div class="form-group">
    <label for="gender">Gender</label>
    <input id="gender" formControlName="gender" type="text" class="form-control">
  </div>
  <div class="form-group">
    <label for="country">Country</label>
    <input id="country" formControlName="country" type="text" class="form-control">
  </div>
  <div class="form-group">
    <label for="email">Email</label>
    <input id="email" formControlName="email" type="email" class="form-control">
  </div>
  <button type="submit" class="btn btn-primary">Save changes</button>
</form>


  </div>
  <div class="right-sidebar">
    <div class="stats">
      <div>
        <h4>19</h4>
        <p>Your profile views</p>
      </div>
      <div>
        <h4>89</h4>
        <p>Post views</p>
      </div>
    </div>
    <div class="people-viewed">
      <h3>People also viewed</h3>
      <ul>
        <li>Konstantin Vinogradov - Product Designer</li>
        <li>Ilya Dudakov - Crypto Designer #1 in the World</li>
        <li>Konstantin Zlobin - UI/UX Designer</li>
        <li>Oleg Putincev - UX/UI Designer</li>
        <li>Casey Neistat - Youtuber</li>
      </ul>
    </div>
    <div class="learning">
      <h3>Learning</h3>
      <p>Add new skills with these courses, free for 24 hours</p>
      <div class="course">
        <img src="" alt="Course Thumbnail">
        <p>Showreel Design Trends 2019 - 1,649 Views</p>
      </div>
    </div>
  </div>
</main>

<!-- Include Bootstrap JS -->
