<ul class="list-group" id="style-1">
  <li class="list-group-item">
    <app-list-item [item]="Llama.name" [month]="Llama.month" [date]="Llama.date" [calcDate]="Llama.calcDate" [year]="Llama.year"></app-list-item>
  </li>
  <li class="list-group-item">
    <app-list-item [item]="Mistral.name" [month]="Mistral.month" [date]="Mistral.date" [calcDate]="Mistral.calcDate" [year]="Mistral.year"></app-list-item>
  </li>
  <li class="list-group-item">
    <app-list-item [item]="Falcon.name" [month]="Falcon.month" [date]="Falcon.date" [calcDate]="Falcon.calcDate" [year]="Falcon.year"></app-list-item>
  </li>
  <li class="list-group-item">
    <app-list-item [item]="Phi2.name" [month]="Phi2.month" [date]="Phi2.date" [calcDate]="Phi2.calcDate" [year]="Phi2.year"></app-list-item>
  </li>
  <li class="list-group-item">
    <app-list-item [item]="StableLM.name" [month]="StableLM.month" [date]="StableLM.date" [calcDate]="StableLM.calcDate" [year]="StableLM.year"></app-list-item>
  </li>
  <li class="list-group-item">
    <app-list-item [item]="StarCoder.name" [month]="StarCoder.month" [date]="StarCoder.date" [calcDate]="StarCoder.calcDate" [year]="StarCoder.year"></app-list-item>
  </li>
  <li class="list-group-item">
    <app-list-item [item]="GPTNeox.name" [month]="GPTNeox.month" [date]="GPTNeox.date" [calcDate]="GPTNeox.calcDate" [year]="GPTNeox.year"></app-list-item>
  </li>
</ul>
